<!DOCTYPE html>
<html>
  <head>
    <title>NobeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
